.content {
    display: flex;
    flex-flow: column wrap;
    max-height: 80vh;
    align-content: center;
}

@media screen and (min-width:0\0) and (min-resolution:+72dpi), \0screen\,screen\9 {
    /* Ugly IE9+ only rules */
    .content {
        display: block;
        column-count: 4;
        padding: 0.5em;
    }

    .content-locations {
        column-count: 3;
    }

    .content-occupants {
        column-count: 5;
    }

    .content .location {
        display: inline-table;
        width: 100%;
    }

    .content .location div {
        display: table-cell;
    }

    .content .location div.room-inline {
        text-align: right;
    }

    .content .occupants {
        display: inline-table;
        width: 100%;
        font-size: 85%;
    }
}

.title {
    text-align: center;
}

.entry {
    padding: 0.5em;
}

.occupants {
    border: black solid 1px;
    border-radius: 0.2em;
    margin: 0.1em;
}

.occupants ul {
    margin: 0.2em 0 0 0;
}

.occupants .room-label {
    font-size: 125%;
    font-weight: bold;
}

.location {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border: black solid 1px;
    border-radius: 0.2em;
    padding: 0.25em 1em 0.25em 1em;
    margin: 0.1em;
}
.location div {
    display: inline-block;
}

.location .room-inline {
    padding-left: 2em;
}

.rooms {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.room {
    border: black solid 1px;
    border-radius: 0.3em;
    padding: 1em;
    text-align: center;
    margin: 1em;
    font-size: 250%;
    font-weight: bold;
}
