<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${room}">Some room</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--Auto refresh after one minute-->
    <meta http-equiv="refresh" content="60">

    <style>
        .room-person {
            font-size: 175%;
            font-weight: bold;
        }
    </style>

</head>
<body>


<div class="container flow-text">
    <h1 th:text="${room}">Some Office</h1>
    <hr />
    <div class="room-person" th:each="person : ${persons}" th:text="${person}">Some person</div>
</div>


<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>